<ion-view view-title="Syncery App">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Themen</div>
            <div class="item item-body">
                <div>
                    Unsere Themen sind:
                    <ul>
                        <li>API Design</li>
                        <li>Datenbank</li>
                        <li>Frontend</li>
                        <li>App</li>
                        <li>Infrastruktur</li>
                    </ul>
                </div>
            </div>
        </div>
        <img align="middle" src="/img/HTW_Logo_rgb.png" height="50px" width="120px"/>
    </ion-content>
</ion-view>