<ion-view view-title="Syncery App">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Architecture Teammitglieder</div>
            <div class="item item-body">
                <div>
                    Hallo! Wir sind das Architekturteam.
                    <br/><br/>
                    <ul>
                        <li>Nader</li>
                        <li>Martin</li>
                        <li>Murat</li>
                        <li>Sascha</li>
                        <li>Ignatius</li>
                    </ul>
                </div>
            </div>
        </div>
        <img align="middle" src="/img/HTW_Logo_rgb.png" height="50px" width="120px"/>
    </ion-content>
</ion-view>